body {
    background: #0f0f13;
    color: #e5e5e5;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #c78bfa;
    text-shadow: 0 0 10px #5a2b86;
    margin-bottom: 20px;
}

.btn-primary {
    background: #6d3ea8;
    border: none;
    padding: 12px 18px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.2s;
}

.btn-primary:hover {
    background: #8f52d4;
}

.btn-secondary {
    background: #333;
    border: none;
    padding: 10px 16px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.lista {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.lista li {
    background: #1b1b22;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #2d2d39;
    transition: 0.2s;
}

.lista li:hover {
    background: #262631;
    border-color: #643fa1;
}

.ficha {
    margin-top: 25px;
    padding: 20px;
    background: #15151b;
    border-radius: 6px;
    border: 1px solid #2e2e3a;
    max-width: 400px;
}

/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal-content {
    background: #1b1b22;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid #3a2d5a;
    box-shadow: 0 0 15px #542b8d;
}

label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    background: #262631;
    border: 1px solid #3a3a4a;
    color: white;
    border-radius: 6px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
